<div id="post-{{id}}">
    <img class="home_images" src="{{thumbnail}}" alt"Missing Image">
    <div class=" home_posts">
        <p class=".home_titles">{{title}}</p>
        <p class=".home_titles">{{description}}</p>
        <a href="/getPost/{{id}}" class="">Post Details</a>
    </div>
</div>