<div id="post-{{id}}" class="home-posts">
    <a href="/post/{{id}}"> <img class="home-images" src="{{thumbnail}}" alt="Missing Image"> </a>
    <div class="home-info">
        <p class="home-titles">{{title}}</p>
        <p class="home-desc">{{description}}</p>
        <a href="/post/{{id}}">Post Details</a>
    </div>
</div>