<div class="posts-container">

    <div id="post-{{id}}" class="home-posts">
        <a href="/post/{{id}}"> <img class="home-images" src="{{thumbnail}}" alt="Missing Image"> </a>
        <p class="home-tags">{{title}}</p>
        <div class="home-info">
            <p class="home-desc">{{description}}</p>
        </div>
    </div>
</div>