<div id="post-{{id}}" class="home_posts">
    <img class="home_images" src="{{thumbnail}}" alt="Missing Image">
    <div>
        <p class="home_titles">{{title}}</p>
        <p class="home_titles">{{description}}</p>
        <a href="/post/{{id}}">Post Details</a>
    </div>
</div>