<div class="container">
    <div class="post-card">

        <h2 class="heading">Posts</h2>

        <h3>{{currentPost.title}}</h3>

        <img class="post-image" src="/{{currentPost.photopath}}" alt="Image">

        <h5>Uploaded by {{currentPost.username}} at {{currentPost.created}}.</h5>
        {{currentPost.description}}

    </div>
</div>