<div class="post-page">
    <div class="container">
        <div class="post-container">
            <div class="post-card">
                <h5>{{currentPost.username}} at {{currentPost.created}}.</h5>
                <h3>{{currentPost.title}}</h3>

                <img class="post-image" src="/{{currentPost.photopath}}" alt="Image">
                <h4>{{currentPost.description}}</h4>
            </div>
            <div class="comments-container">
                <div id="messages">
                    {{#each currentPost.comments}}
                    {{> comment this}}
                    {{/each}}
                </div>
                <div class="enter-comments">
                    <textarea class="input" id="comment-text" style="height: 50px;"
                        placeholder="Comment Here!"></textarea>
                    <button type="submit" style="height: 50px;" id="comment-button" class="searchButton">
                        <i class="fa fa-arrow-up" class="searchButton"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    Check out more posts
    <div id="main-page-content">
        {{#each results}}
        {{> card this}}
        {{/each}}
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        })
    });

    function addMessage(data) {
        let template = document.createElement('template')
        template.innerHTML =
            `<div id="message-${data.commentId}">
                <string class="author-text">@${data.username}</string>
                <span class="date-posted">${new Date().toLocaleString()}</span>
                 <div class="comment-text">${data.comment}</div>
            </div>`;
        console.log(template)
        document.getElementById('messages').firstChild.before(template.content.firstChild);
    }

    document.getElementById('comment-button').onclick = (event) => {
        let commentText = document.getElementById('comment-text').value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

        if (!commentText) {
            return;
        }

        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId: postId
            })
        }
        fetch('/comments/create', fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if (data.code == 1) {
                    addMessage(data);
                } else {
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err))

    }

</script>